
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #EEE9E9;  
    height: 500px;
    padding-top: 15px;
    font-size: 14px; 
    height: 90vh;
}

.card {
    background: #fff;
    width: 170px;
    margin: 10px;
    border-radius: 3px;   
    color: #53868B;
    position: relative;
    height: 220px;
    text-align: center; 
    padding: 25px;
}
.icons {
    padding: 15px;
}

.card p {
    padding: 10px;
}

.card.box h3 {
    padding: 10px;
}

.btn {
    padding:10px;
    background: #53868B;
    color: white;
    outline: none;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    position: absolute;
    left: 18px;
    bottom: -16px;
    width: 145px;   
}

.card:first-child button {
    background: #FF4040;
}

.card:first-child i {
    color: #FF4040;
}

@media (max-width: 768px) {
    .container {
        flex-wrap: wrap;
        height: 100%;
        padding-top: 55px;
    }
}